*, *:before, *:after {
    box-sizing: border-box;
}
*, body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    background-color: #fafafa;
    border-radius: 0.5rem;
}

.left-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
